<footer class="footer">
  <div class="footer-content">
    <a
      href="https://www.linkedin.com/in/fernando-rerong-dev/"
      target="_blank"
      class="footer-icon"
    >
      <img src="assets/img/linked-in-icon.jpg" alt="LinkedIn" />
    </a>

    <a href="https://github.com/rerongwe" target="_blank" class="footer-icon">
      <img src="assets/img/github-icon-blue.jpg" alt="GitHub" />
    </a>

    <a href="mailto:rerongwe99@gmail.com" class="footer-icon">
      <img src="assets/img/gmail-icon.jpg" alt="Gmail" />
    </a>
  </div>

  <p class="footer-text">© 2025 Desenvolvido por Fernando Rerong</p>
</footer>
