
<div class = "container">
    <div class = "row mt-5">
        <div class = d-inline>
            <div class="breadcrumb-item">
            <a routerLink="/home">Home</a> /<a class ="breadcrumb-item active">Roupas</a>
        </div>
        </div>

    </div><div class = "artigo">
    <table class = "tabela">
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Cropped Azul</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 15,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Cropped Amarelo</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 15,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Cropped Verde</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 15,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Calça Militar</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 75,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Calça Preta</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 75,00</h3>
                    </div>
                </article>
            </th>
            
        </tr>
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Shorts Jeans</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 40,00</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>T-Shirt Estampada Preta</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 20,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>T-Shirt Estampada Branca</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 20,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>T-Shirt Estampada Azul</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 20,00</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>T-Shirt Estampada Rosa</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 20,00</h3>
                    </div>
                </article>
            </th>

        </tr>

    </table>

</div>



