
<div class = "container">
    <div class = "row mt-5">
        <div class = d-inline>
            <div class="breadcrumb-item">
            <a routerLink="/home">Home</a> /<a class ="breadcrumb-item active">Jeans</a>
        </div>
        </div>
    </div><div class = "artigo">
    <table class = "tabela">
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Calça Jeans Clara</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 120,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Jaqueta Jeans</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 75,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Shorts Jeans</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 35,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Calça Jeans Rasgada</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 85,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Calça Jeans Wide</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 100,00</h3>
                    </div>
                </article>
            </th>
            
        </tr>
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Calça MOM Jeans</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 150,00</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Jaqueta Jeans Preta</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 70,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Calça Jeans Simples</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 90,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Jaqueta Jeans Personalizada</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 100,00</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Bermuda Jeans</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 35,00</h3>
                    </div>
                </article>
            </th>

        </tr>

    </table>

</div>



