<div class = "container">
    <div class = "row mt-5">
        <div class = d-inline>
            <div class="breadcrumb-item">
            <a routerLink="/home">Home</a> /<a class ="breadcrumb-item active">Novidades</a>
        </div>
        </div>

    </div>

</div>
<div class = "artigo">
    <table class = "tabela">
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Calça Jeans Militar</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 150,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Sobretudo Preto</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 70,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Croppped Alça Preto</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 15,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Calça Moletom Cinza</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 45,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Maleta de Maquiagem</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 100,00</h3>
                    </div>
                </article>
            </th>
            
        </tr>
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Colar Semi Joia</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 90,00</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Langerie Preta</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 50,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Camiseta Simples Preta</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 15,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Camiseta Simples Branca</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 15,00</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Camiseta Social Branca</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 35,00</h3>
                    </div>
                </article>
            </th>

        </tr>

    </table>

</div>



