<app-header></app-header>
<app-nav></app-nav>

<main class="app-main main-content">
  <section class="hero">
    <div class="main-div">
      <div class="main-content"></div>

      <h1 class="about-me">{{ "ABOUT.TITLE" | translate }}</h1>
      <p>
        {{ "ABOUT.PARAGRAPH1" | translate }}
      </p>

      <p>
        {{ "ABOUT.PARAGRAPH2" | translate }}
      </p>

      <p>
        {{ "ABOUT.PARAGRAPH3" | translate }}
      </p>

      <p>
        {{ "ABOUT.PARAGRAPH4" | translate }}
      </p>
      <p>
        {{ "ABOUT.PARAGRAPH5" | translate }}
      </p>
      <p>
        {{ "ABOUT.PARAGRAPH6" | translate }}
      </p>
    </div>
  </section>
</main>

<app-footer></app-footer>
