
<div class = "container">
    <div class = "row mt-5">
        <div class = d-inline>
            <div class="breadcrumb-item">
            <a routerLink="/home">Home</a> /<a class ="breadcrumb-item active">Esportivo</a>
        </div>
        </div>
    </div><div class = "artigo">
    <table class = "tabela">
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Top Branco</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 15,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Top Preto</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 15,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Calça Legging Preta</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 25,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Calça Legging Azul</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 25,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Blusa Academia Branca</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 10,00</h3>
                    </div>
                </article>
            </th>
            
        </tr>
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Blusa Academia Preta</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 10,00</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Blusa Academia Amarela</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 10,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Corda 5 Metros</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 25,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Colchonete</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 25,00</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Garrafa 1Litro</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 15,00</h3>
                    </div>
                </article>
            </th>

        </tr>

    </table>

</div>


