
<div class = "container">
    <div class = "row mt-5">
        <div class = d-inline>
            <div class="breadcrumb-item">
            <a routerLink="/home">Home</a> /<a class ="breadcrumb-item active">Beleza</a>
        </div>
        </div>
    </div><div class = "artigo">
    <table class = "tabela">
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Paleta Sombra</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 60,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>batom vermelho</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 20,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>rimel</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 35,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>demaquilante</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 15,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>perfume suave</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 150,00</h3>
                    </div>
                </article>
            </th>
            
        </tr>
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>esponja para base</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 5,49</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>conjunto de pinceís</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 50,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>base</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 75,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>pó compacto</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 25,00</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>lapis de olho</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 30,00</h3>
                    </div>
                </article>
            </th>

        </tr>

    </table>

</div>
