
<div class = "container">
    <div class = "row mt-5">
        <div class = d-inline>
            <div class="breadcrumb-item">
            <a routerLink="/home">Home</a> /<a class ="breadcrumb-item active">Moda Intima</a>
        </div>
        </div>
    </div>
<div class = "artigo">
    <table class = "tabela">
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Calcinha de Renda Preta</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 15,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Calcinha de Renda Vermelha</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 15,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Calcinha Simples Preta</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 10,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Calcinha Simples Bege</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 10,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Sutiã sem Costura Preto</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 25,00</h3>
                    </div>
                </article>
            </th>
            
        </tr>
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Sutiã sem Costura Branco</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 25,00</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Sutiã sem Costura Bege</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 25,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Sutiã Tomara que Caia</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 15,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Sutiã com Bojo Preto</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 15,00</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Sutiã com Bojo Branco</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 15,00</h3>
                    </div>
                </article>
            </th>

        </tr>

    </table>

</div>



