
<div class = "container">
    <div class = "row mt-5">
        <div class = d-inline>
            <div class="breadcrumb-item">
            <a routerLink="/home">Home</a> /<a class ="breadcrumb-item active">Calçados</a>
        </div>
        </div>
    </div><div class = "artigo">
    <table class = "tabela">
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Tênis Branco Nike</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 150,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Tênis Adidas</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 200,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Bota Vermelha</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 70,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Sandalia</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 25,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Salto cano Grosso</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 50,00</h3>
                    </div>
                </article>
            </th>
            
        </tr>
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Sapatilha Ponta Fina</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 50,49</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Tênis Cano alto</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 75,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Sandalia Melissa</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 35,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>AllStar Preto</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 85,00</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>AllStar Azul</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 85,00</h3>
                    </div>
                </article>
            </th>

        </tr>

    </table>

</div>

