/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  background-image: url(../src/assets/img/dark-gradient.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
